* {
    margin: 0;
    padding: 0;
}

html {
    filter: none;
}

html.gray {
    filter: grayscale(1);
}

body {
    background-color: #EEE;
    transition: background-color 2s;
}

body:not(.black) * {
    --color-bar-back: rgb(255 255 255 / 15%);
    --color-bar: rgb(255 255 255 / 30%);
    --color-text: #FFF;
    --color-text2: rgb(255 255 255 / 50%);
}

body.black * {
    --color-bar-back: rgb(0 0 0 / 5%);
    --color-bar: rgb(0 0 0 / 20%);
    --color-text: #000;
    --color-text2: rgb(0 0 0 / 45%);
}

h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 8px 0;
    color: var(--color-text);
    border-bottom: var(--color-text) 1px solid;
    padding: 5px 0;
    transition: color 2s, border 2s;
}

.hover-show {
    opacity: 0;
    transition: opacity .3s;
}

.hover-show:hover {
    opacity: 1;
}

#bar-top {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 100;
}

#bar-top::after {
    content: "";
    width: 100%;
    height: 50px;
    position: relative;
    top: -50px;
    display: block;
    background-image: linear-gradient(to bottom, var(--color-bar), transparent);
    transition: top .5s;
    cursor: pointer;
}

#bar-top:hover::after {
    top: 0px;
}

#btn-top {
    position: fixed;
    width: 50px;
    height: 50px;
    /* border: var(--color-text) 1px solid; */
    top: 10px;
    left: calc(50vw - 25px);
    z-index: 100;
    overflow: hidden;
    transform: scale(0.75) rotate(45deg);
    /* background-color: var(--color-bar-back); */
    opacity: 1;
    transition: background-color 2s, border 2s, transform .5s, top .5s, opacity .5s;
    pointer-events: none;
}

#btn-top.close {
    transform: scale(0.35) rotate(45deg);
    top: -50px;
    opacity: 0;
}

#btn-top>div {
    border-top: var(--color-text) 3px solid;
    border-left: var(--color-text) 3px solid;
    width: 20px;
    height: 20px;
    position: relative;
    top: 15px;
    left: 15px;
    transition: border 2s;
}

#bar-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    color: var(--color-text);
    background-color: var(--color-bar-back);
    transition: background-color 2s, color 2s;
    text-align: center;
    font-size: 14px;
    backdrop-filter: blur(10px);
}

#bar-mobile p {
    margin: 15px;
}

#content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.color-card-list {
    width: 670px;
    text-align: center;
    padding: 50px 0;
}

@media only screen and (max-width:1220px){
	#content {
        width: calc(100vw - 20px);
    }

    .color-card-list {
        width: calc(100vw - 530px - 20px);
    }
}

@media only screen and (max-width:990px){
	#content {
        width: calc(100vw - 20px);
    }

    .color-card-list {
        width: calc(100vw - 20px);
    }

    #color-info {
        display: none;
    }

    #bar-mobile {
        display: block;
    }
}

.color-card-list p {
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
    margin-bottom: 0.65em;
    line-height: 26px;
    color: var(--color-text);
    transition: color 2s;
    text-decoration: none;
}

.color-card-list a {
    color: var(--color-text);
    transition: color 2s;
    text-decoration: none;
}

.color-card-list a:hover {
    text-decoration: underline;
}

#color-info {
    width: 530px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.color-info-content {
    position: fixed;
    width: 530px;
    height: 100vh;
}

#color-info .title{
    writing-mode: tb-rl;
    position: absolute;
    font-size: 64px;
    color: var(--color-text);
    transition: color 2s;
    top: 50px;
    right: 50px;
}

.color-data {
    position: absolute;
    font-size: 20px;
    color: var(--color-text);
    top: 50px;
    left: 50px;
    transition: color 2s;;
}

.color-card {
    border-top: var(--color) 10px solid;
    width: 90px;
    height: 250px;
    margin: 10px;
    position: relative;
    box-shadow: var(--color-bar) 0 0 5px;
    transform: scale(1);
    transition: box-shadow 2s, transform .3s, margin .3s;
    display: inline-block;
    background-image: linear-gradient(195deg, rgb(233 233 233 / 0%) -80px, rgb(233 233 233 / 35%) 50px, rgb(233 233 233 / 0%) 220px);
    cursor: pointer;
}

.rotate .color-card {
    transform: scale(1) rotate(-90deg);
    margin: -75px 95px;
}

.color-card:hover {
    transform: scale(1.1);
}

.rotate .color-card:hover {
    transform: scale(1.1) rotate(-90deg);
}

.color-card .title, .color-card .color {
    writing-mode: tb-rl;
    position: absolute;
}

.color-card .title {
    top: 13px;
    left: 48px;
    font-size: 26px;
    color: var(--color);
    text-shadow: rgb(255 255 255 / 45%) 0 0 2px;
}

.color-card[data-black="1"] .title {
    text-shadow: rgb(0 0 0 / 45%) 0 0 2px;
}

.color-card .color {
    top: 15px;
    left: 30px;
    font-size: 14px;
    color: var(--color-text2);
    transition: color 2s;
}

.color-rgb-line {
    height: 230px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#color-info .color-rgb-line {
    position: absolute;
    height: 400px;
    top: 50px;
    right: 150px;
    width: 66px;
    left: unset;
}

.color-rgb-line>div {
    display: inline-block;
    background: var(--color-bar-back);
    height: 230px;
    width: 3px;
    margin-right: 3px;
    transition: background-color 2s;
}

#color-info .color-rgb-line>div {
    height: 400px;
    width: 14px;
    margin-right: 8px;
}

.color-rgb-line>div>div {
    width: 3px;
    background: var(--color-bar);
    transition: background-color 2s;
}

#color-info .color-rgb-line>div>div {
    width: 14px;
    transition: height 2s, background-color 2s;;
    height: 0;
}

.color-rgb-line>.r>div {
    height: var(--r);
}

.color-rgb-line>.g>div {
    height: var(--g);
}

.color-rgb-line>.b>div {
    height: var(--b);
}

.color-index {
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 22px;
}

footer {
    color: var(--color-text2);
    transition: color 2s;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 14px;
}

.color-index a {
    color: var(--color-text);
    transition: color 2s, border 2s;
    text-decoration: none;
    display: inline-block;
    border-left: var(--color-text) 1px solid;
    padding-left: 0.35em;
    line-height: 36px;
    min-width: 200px;
}

.color-index li {
    opacity: 0.45;
    transition: opacity .3s;
}

.color-index li:hover {
    opacity: 1;
}

.color-index ul {
    /* list-style-type: disclosure-closed; */
    list-style-type: none;
    padding-left: 2px;
    color: var(--color-text2);
    transition: color 2s;
}

footer a {
    color: var(--color-text2);
    transition: color 2s;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 0.35em;
}