* {
    margin: 0;
    padding: 0;
}

html {
    filter: none;
}

html.gray {
    filter: grayscale(1);
}

body {
    background-color: #EEE;
    transition: background-color 2s;
}

body:not(.black) * {
    --color-bar-back: rgb(255 255 255 / 15%);
    --color-bar: rgb(255 255 255 / 30%);
    --color-text: #FFF;
    --color-text2: rgb(255 255 255 / 50%);
}

body.black * {
    --color-bar-back: rgb(0 0 0 / 5%);
    --color-bar: rgb(0 0 0 / 20%);
    --color-text: #000;
    --color-text2: rgb(0 0 0 / 45%);
}

h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 8px 0;
    color: var(--color-text);
    border-bottom: var(--color-text) 1px solid;
    padding: 5px 0;
    transition: color 2s, border 2s;
}

#content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.color-card-list {
    width: 670px;
    text-align: center;
    padding: 50px 0;
}

.color-card-list p {
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
    margin-bottom: 0.65em;
    line-height: 26px;
    color: var(--color-text);
    transition: color 2s;
    text-decoration: none;
}

.color-card-list a {
    color: var(--color-text);
    transition: color 2s;
    text-decoration: none;
}

.color-card-list a:hover {
    text-decoration: underline;
}

#color-info {
    width: 530px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.color-info-content {
    position: fixed;
    width: 530px;
    height: 100vh;
}

#color-info .title{
    writing-mode: tb-rl;
    position: absolute;
    font-size: 64px;
    color: var(--color-text);
    transition: color 2s;
    top: 50px;
    right: 50px;
}

.color-data {
    position: absolute;
    font-size: 20px;
    color: var(--color-text);
    top: 50px;
    left: 50px;
    transition: color 2s;;
}

.color-card {
    border-top: var(--color) 10px solid;
    width: 90px;
    height: 250px;
    margin: 10px;
    position: relative;
    box-shadow: var(--color-bar) 0 0 5px;
    transform: scale(1);
    transition: box-shadow 2s, transform .3s;
    display: inline-block;
    background-image: linear-gradient(195deg, rgb(233 233 233 / 0%) -80px, rgb(233 233 233 / 35%) 50px, rgb(233 233 233 / 0%) 220px);
    cursor: pointer;
}

.color-card:hover {
    transform: scale(1.1);
}

.color-card .title, .color-card .color {
    writing-mode: tb-rl;
    position: absolute;
}

.color-card .title {
    top: 15px;
    left: 45px;
    font-size: 26px;
    color: var(--color);
    text-shadow: rgb(255 255 255 / 45%) 0 0 2px;
}

.color-card[data-black="1"] .title {
    text-shadow: rgb(0 0 0 / 45%) 0 0 2px;
}

.color-card .color {
    top: 15px;
    left: 30px;
    font-size: 14px;
    color: var(--color-text2);
    transition: color 2s;
}

.color-rgb-line {
    height: 230px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#color-info .color-rgb-line {
    position: absolute;
    height: 400px;
    top: 50px;
    right: 150px;
    width: 66px;
    left: unset;
}

.color-rgb-line>div {
    display: inline-block;
    background: var(--color-bar-back);
    height: 230px;
    width: 3px;
    margin-right: 3px;
    transition: background-color 2s;
}

#color-info .color-rgb-line>div {
    height: 400px;
    width: 14px;
    margin-right: 8px;
}

.color-rgb-line>div>div {
    width: 3px;
    background: var(--color-bar);
    transition: background-color 2s;
}

#color-info .color-rgb-line>div>div {
    width: 14px;
    transition: height 2s, background-color 2s;;
    height: 0;
}

.color-rgb-line>.r>div {
    height: var(--r);
}

.color-rgb-line>.g>div {
    height: var(--g);
}

.color-rgb-line>.b>div {
    height: var(--b);
}

footer {
    color: var(--color-text2);
    transition: color 2s;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 14px;
}

footer a {
    color: var(--color-text2);
    transition: color 2s;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-top: 0.35em;
}